# ENV-BADGE (DEV, TEST, PROD)
ENVIRONMENT=DEV

# DATABASE TYPE
DB_TYPE=MongoDB
# DB_TYPE=Couchbase

# MONGODB
MONGO_URI=example
MONGO_USERNAME=example
MONGO_PASSWORD=example

# COUCHEBASE 
CB_CONNSTR=couchbase://127.0.0.1
CB_USERNAME=example
CB_PASSWORD=example
CB_BUCKET=example
CB_SCOPE=example

# EMAIL CONFIGURATIONS:
EMAIL_COLLECTION=example
EMAIL_ENDING=example

# ROLES CONFIGURATIONS:
ROLES_FIELD=example

# COUNT CONFIGURATIONS:
#Count Checks = title : collection.field, 
COUNT_CHECKS=Example Title:collection.field,Example Title:collection.field

# PING CONFIGURATIONS: (+/- port)
PING_URL=https://********.com:443

## SERVICE CONFIGURATIONS: ##
#Service Checks = name , devURL , testURL , prodURL;
SERVICE_CHECKS=Test Service,localhost:8081,localhost:8082,localhost:8083;Test2 Service,localhost:8084,localhost:8085,localhost:8086;

## COLLECTION CONFIGURATIONS: ##
COLLECTIONS_CHECK=example,examples