
.section-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.section {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background: #f9f9f9;
  box-sizing: border-box;
}

.section-title {
  margin: 0 0 1rem 0;
  font-size: 1.25rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


/* SUMMARY STYLING */

.summary-container {
    border-radius: 6px;
    padding: 0.8rem 1rem;
    background-color: #eaeaea;
    margin-bottom: 1rem;
    text-align: center;
}

.summary-container strong {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.summary-container p {
    margin: 0.2rem 0;
    font-weight: 500;
}


