/* Global reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #dadada;
  padding: 2rem; 
}

#app {
  max-width: 1800px;
  margin: 0 auto;   
  padding: 2rem;      
  background: white;  
  border-radius: 12px; 
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

