

.header {
  width: 100%;
  padding: 1.5rem 0rem 2.5rem 0rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
}

.env-badge {
  padding: 5px 6px 4px;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  justify-content: center;
  align-items: center;

  width: 55px;  
  min-height: 24px;
  display: inline-flex;
}

