.result-item {
  padding: 1rem;
  border-radius: 6px;
  border-left: 1px solid #ddd;
}

.result-item.success {
  background: #cceacc;
  border-left: 3px solid #57ac57;
}

.result-item.fail {
  background: #ffe0e0;
  border-left: 3px solid #e13c3c;
}

.result-item.error {
  background: #fffbe0;
  border-left: 3px solid #e1d63c;
}

.result-item h4 {
  margin-bottom: 0.4rem;
  font-size: 1rem;
}

.result-item p {
  font-size: 0.9rem;
  margin: 0.7rem 0 0.3rem;
}

.result-item small {
  display: block;
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 0.4rem;
  color: #575757;
}

/* STYLING FOR ITEMS WITH TABLE */

.toggle-btn {
  display: flex;
  width: 100%;
  font-size: 0.9rem;
  margin: 0.7rem 0 0.3rem;
  border: 0px solid #ccc;
  background: #fafafa00;
  cursor: pointer;
  gap: 5px;

}

.chevron {
  transition: transform 0.2s ease;
  width: 20px;
  height: 20px;
}

.chevron.rotated {
  transform: rotate(180deg);
}

.chevron path {
  stroke-width: 3;
  stroke: currentColor;
  fill: none;
}

.item-table-wrapper {
  background: #ffffffbf;          
  margin-top: 15px;
  border-radius: 6px;
}

.item-table {
  width: 100%;
  border-collapse: collapse;
}

.item-table th,
.item-table td {
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  text-align: center;
}

.item-table th:first-child,
.item-table td:first-child {
  text-align: left;
}


/* VERSION BADGE */

.badge {
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
}

.badge.success { background: #57ac57; }
.badge.fail { background: #e13c3c; }
.badge.error { background: #e1d63c; }

/* DROPDOWN ITEMS */


.dropdown-item-wrapper {
  margin-bottom: 10px;
  padding: 0.8rem;
  border-radius: 6px;
}

.dropdown-content {
  margin-left: 1.5rem;
}

.dropdown-item-wrapper pre {
  background: #ffffff84;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  overflow-x: auto;
  font-size: 0.85rem;
  margin-top: 8px;
}

.result-header.small h4,
.result-header.small span {
  font-size: 0.85rem;
}

.result-item + .dropdown-content {
    margin-top: -8px; 
}